
<div class="pokemon-list">
  <app-pokemon-card
    *ngFor="let pokemon of pokemons; index as i"
    [pokemon]="pokemon"
    [numero]="i + 1"
  ></app-pokemon-card>
</div>







<!-- <div *ngFor="let pokemon of pokemons">Pokemon: {{ pokemon }}</div> -->

<!-- <div>
  <img src="https://img.pokemondb.net/sprites/black-white/normal/bulbasaur.png" height="200px" width="200px" >
    <br>
 <b> Bulbassauro </b>
</div>

<div>
  <img src="https://img.pokemondb.net/sprites/black-white/normal/ivysaur.png" height="200px" width="200px">
    <br>
 <b> Ivysaur </b>
</div> -->

