
<nav class="navbar" style="background-color: #70c0d1">

  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">

      <a class="navbar-brand">
        <img src="https://www.seekpng.com/png/small/312-3124209_pokeball-pixel-art-easy-cool-pixel-art.png" alt="Logo"
        width="40" height="40" class="d-inline-block align-text-top">
      </a>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" >
        <button class="btn btn-success" type="submit">Search</button>
      </form>
    </div>
  </nav>

</nav>

<br><br>

<app-pokemon-list></app-pokemon-list>


















